/*初始化*/
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  font-size: 14px!important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /*解决IOS默认滑动很卡的情况*/
  -webkit-overflow-scrolling:touch;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
  /*轮播图大小*/
.banner-img, .top-swiper {
  height: 217px;
  width: 100%;
}
  //小标题
.mini-title {
  font-size 18px
}
//改写input输入框
.my-input {
  box-sizing border-box
  padding 2px 10px
  width 100%
  height 100%
  border: none;/*去除边框*/
  outline: none; /*去除轮廓*/
}
.avator { //头像
  display inline-block
  height 56px
  border-radius 50%
  width 56px
}
.my_color_blue {
  color #409EFF
}
.my_color_red {
  color #F56C6C
}
.my_color_grey {
  color #909399
}
.my_color_green {
  color #67C23A
}
i {
  font-style:normal
}
.my_img_btn {
  pointer-events none
}
.my_color_btn {
  background-image: linear-gradient(25deg, #0d72b3, #25a4d8, #25a4d8, #0d72b3)
  width 330px
  height 36px
  line-height 36px
  color #fff
}
// 单选
.my_radio {
  margin-top 10px
}
.align_center {
  vertical-align middle
}
  //文本域
.my_textArea
  width: 330px
  height 90px
  border-radius 10px
  margin 10px 0
  box-sizing border-box
  padding 10px